<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="web/core/tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache">
  <php>
    <env name="SIMPLETEST_BASE_URL" value="http://web"/>
    <env name="SIMPLETEST_DB" value="mysql://db:db@db/db"/>
    <env name="BROWSERTEST_OUTPUT_DIRECTORY" value="/tmp/browser_output"/>
  </php>
  <testsuites>
    <testsuite name="VFBiz custom modules">
      <directory>web/modules/custom/*/tests/src</directory>
    </testsuite>
  </testsuites>
</phpunit>
