project_id                       = "REPLACE_WITH_DEVELOPMENT_PROJECT_ID"
project_number                   = "REPLACE_WITH_DEVELOPMENT_PROJECT_NUMBER"
billing_account_id               = "REPLACE_WITH_BILLING_ACCOUNT_ID"
document_ai_processor_id         = "REPLACE_WITH_OCR_PROCESSOR_ID"
document_ai_processor_revision   = "pretrained-ocr-v2.1.1-2025-01-31"
worker_image                     = ""
worker_database_url_secret_id    = ""
worker_database_url_secret_version = ""
worker_dispatch_enabled          = false
reconciler_database_url_secret_id      = ""
reconciler_database_url_secret_version = ""
reconciler_schedule_enabled            = false
synthetic_smoke_manifest         = {}
ingestion_activation_authority_sha256     = ""
ingestion_activation_authority_generation = ""
ingestion_saved_plan_sha256               = ""
ingestion_rollback_image_sha256           = ""
ingestion_risk_disposition_sha256         = ""
ingestion_risk_disposition_reference      = ""
ocr_output_bucket_enabled        = false
database_foundation_enabled      = false
database_bootstrap_enabled       = false
database_bootstrap_image         = ""
database_bootstrap_authority_digest = ""
database_bootstrap_url_secret_version = ""
database_credential_operator_enabled     = false
database_credential_operator_principal   = ""
database_credential_authority_sha256     = ""
database_credential_authority_generation = ""
